@import '../../styles/abstracts/mixins';

.header {
    height: 7.5rem;
    border-bottom: 1px solid rgba(17, 176, 200, 0.11);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2.25rem;
    .logo {
        width: 8.75rem;
        height: 2.5rem;
    }
    .backBtn {
        position: absolute;
        left: 1rem;
        bottom: 2.25rem;
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }
    @include respond-to(small) {
        align-items: center;
        padding-bottom: 0;
        .logo {
            width: 13.125rem;
            height: 3.75rem;
        }
        .backBtn {
            top: 50%;
            bottom: unset;
            transform: translateY(-50%);
        }
    }
}
