@import '../abstracts/mixins';

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .4rem;
    padding-block: 3rem;
    li a {
        display: flex;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        justify-content: center;
        font-weight: 600;
        cursor: pointer;
        &:global(.active) {
            background-color: #D9D9D9 !important;
            border-radius: 100vh;
        }
    }
    @include respond-to(small) {
        li a {
            width: 3.125rem;
            height: 3.125rem;
        }
    }
}