@import '../../styles/abstracts/variables';

.character {
    display: flex;
    gap: 4rem;
}

.detailsCart {
    max-width: 340px;
}

.characterImg {
    border-radius: 15px;
    margin-bottom: .5rem;
}
.title {
    color: $color-brown;
}
.meta {
    position: relative;
    padding-inline-start: 1.5rem;
    font-weight: 500;
    line-height: 22px;
    margin-block: 5px;
    &::before {
        content: "";
        position: absolute;
        border-radius: 100vh;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1rem;
        height: 1rem;
    }
    &:global(.dead) {
        &::before {
            background-color: $color-red;
        }
    }
    &:global(.alive) {
        &::before {
            background-color: $color-leaf;
        }
    }
    &:global(.unknown) {
        &::before {
            background-color: $color-gray;
        }
    }
}
.additionalInfos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gender {
    font-weight: 300;
    color: #818181;
}