@import "../abstracts/mixins";

.charactersHolder {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr;
    gap: 2rem;
    @include respond-to(small) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include respond-to(large) {
        grid-template-columns: repeat(4, 1fr);
    }
}